[submodule ".vim_runtime"]
	path = .vim_runtime
	url = git@github.com:amix/vimrc.git
[submodule ".tmux"]
	path = .tmux
	url = git@github.com:gpakosz/.tmux
[submodule "dotsync"]
	path = dotsync
	url = git@github.com:dotphiles/dotsync
